@{
    ViewBag.Title = "Get Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Portfolio.Models.Project>

<h2>Project</h2>
<hr />
<ol>
    @foreach (var project in Model)
    {
        <li>
            <ul>
                <li>@Html.DisplayFor(modelItem => project.Name)</li>
            </ul>
        </li>
    }
</ol>