@{
    ViewBag.Title = "Get Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Portfolio.Models.Project>

<h2>Project</h2>
<hr />

    @foreach (var project in Model)
    {

        @if (project.Stargazers_count == "1")
        {
            
               
                    <p>@Html.DisplayFor(modelItem => project.Name)</p>
                    <p> @Html.DisplayFor(modelItem => project.Description)</p>
                    <p>@Html.DisplayFor(modelItem => project.FullName)</p>

 

        }

    }