@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div>
        <h1>Contact Page</h1>
        <p>This is my contact page</p>
        <p>It will eventually provide a form for customers to contact me about projects</p>
    </div>

</div>