@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid index-body">
<div class="parallax container-fluid"></div>

<div class ="container-fluid"style="height:500px;background-color:white;">
    <br />
    <br />
    <br />
    <br />

   <h4> I am a junior level web developer with an academic background in Sociology. Since graduating college I have worked in the Specialty Coffee industry. I am currently enrolled in Epicodus, a vocational school for programming, where I am learning C#, ASP.Net, and MVC frameworks.
    </h4>

  <h4> I have always excelled in environments that challenge me, and the tech industry prescribes just that- a series of problems to engage with. The feeling I get when I fix a bug or am able to implement difficult styling onto a page engross me and drives me to learn more. Ideally, I would like to integrate my sociological background with web development.
    </h4> 
</div>

<div class="parallax2 container-fluid"></div>

</div>